@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F9FAFB; /* Light Gray */
  font-family: 'Roboto', sans-serif;
  color: #1F2937; /* Dark Gray */
  margin: 0;
  padding: 0;
}

.card {
  background-color: #FFFFFF; /* White */
  border: 1px solid #E5E7EB; /* Light Border */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft Shadow */
  padding: 16px;
  margin: 16px;
}


.primary {
  background-color: #2563EB; /* Blue */
  color: #FFFFFF; /* White */
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primary:hover {
  background-color: #1D4ED8; /* Darker Blue */
}

.secondary {
  background-color: #6B7280; /* Gray */
  color: #FFFFFF; /* White */
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.secondary:hover {
  background-color: #4B5563; /* Darker Gray */
}


.accent {
  color: #EF4444; /* Red */
  font-weight: bold;
}



 /*
 dashboard text= #0d0e0e
dashboard background= #fafafa
primary= #7e9695
secondary= #a8bdbc
accent= #8fb0ae
 */
