@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f7f9f7; 
  font-family: 'Roboto', sans-serif;
  color: #101411; 
  margin: 0;
  padding: 0;
}



.card {
  background-color: #FFFFFF; 
  border: 1px solid #CBD5E1; /* Soft Blue-Gray */
  border-radius: 12px; /* Slightly more rounded for a friendlier appearance */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
 
}

.primary {
  background-color: #0284C7; /* Bright Sky Blue */
  color: #FFFFFF; 
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.primary:hover {
  background-color: #0369A1; 
  transform: scale(1.05); 
}

.secondary {
  background-color: #9CA3AF; 
  color: #FFFFFF; 
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.secondary:hover {
  background-color: #6B7280; /* Darker Gray */
  transform: scale(1.05);
}

.accent {
  color: #10B981; 
  font-weight: bold;
}





button {
  transition: background-color 0.3s, box-shadow 0.2s;
}

button:focus {
  box-shadow: 0 0 4px rgba(2, 132, 199, 0.5);
  outline: none;
}

footer {
  background-color: #065F46; /* Dark Green */
  color: #FFFFFF;
  padding: 16px;
  text-align: center;
  font-size: 14px;
}






h1,h2{
  color: #0D0E0E;
}
h3,h4{
  color: #7e9695;
}



 /*
 dashboard text= #0d0e0e
dashboard background= #fafafa
primary= #7e9695
secondary= #a8bdbc
accent= #8fb0ae
 */
